In [0]:
#Create a employeesDF  from the given data:
employees = [(1, "Scott", "Tiger", 1000.0,
                     "united states", "+1 123 456 7890", "123 45 6789"
                    ),
                    (2, "Henry", "Ford", 1250.0,
                     "India", "+91 234 567 8901", "456 78 9123"
                    ),
                    (3, "Nick", "Junior", 750.0,
                     "united KINGDOM", "+44 111 111 1111", "222 33 4444"
                    ),
                    (4, "Bill", "Gomes", 1500.0,
                     "AUSTRALIA", "+61 987 654 3210", "789 12 6118"
                    )
               ]
users_schema='employee_id INT, first_name String,last_name String,salary float,nationality String, phone_number String,ssn String'

In [0]:

from pyspark.sql import Row
from pyspark.sql.functions import *
from datetime import datetime, date
from pyspark.sql.types import *

In [0]:
df=spark.createDataFrame(data=employees,schema=users_schema)
df.show()

+-----------+----------+---------+------+--------------+----------------+-----------+
|employee_id|first_name|last_name|salary|   nationality|    phone_number|        ssn|
+-----------+----------+---------+------+--------------+----------------+-----------+
|          1|     Scott|    Tiger|1000.0| united states| +1 123 456 7890|123 45 6789|
|          2|     Henry|     Ford|1250.0|         India|+91 234 567 8901|456 78 9123|
|          3|      Nick|   Junior| 750.0|united KINGDOM|+44 111 111 1111|222 33 4444|
|          4|      Bill|    Gomes|1500.0|     AUSTRALIA|+61 987 654 3210|789 12 6118|
+-----------+----------+---------+------+--------------+----------------+-----------+

In [0]:
df.withColumn("last4ssn",substring("ssn",-4,4)).withColumn("phonelast4",substring("phone_number",-4,4)).show()
#From the employeesDF(Task 1) get this output

+-----------+----------+---------+------+--------------+----------------+-----------+--------+----------+
|employee_id|first_name|last_name|salary|   nationality|    phone_number|        ssn|last4ssn|phonelast4|
+-----------+----------+---------+------+--------------+----------------+-----------+--------+----------+
|          1|     Scott|    Tiger|1000.0| united states| +1 123 456 7890|123 45 6789|    6789|      7890|
|          2|     Henry|     Ford|1250.0|         India|+91 234 567 8901|456 78 9123|    9123|      8901|
|          3|      Nick|   Junior| 750.0|united KINGDOM|+44 111 111 1111|222 33 4444|    4444|      1111|
|          4|      Bill|    Gomes|1500.0|     AUSTRALIA|+61 987 654 3210|789 12 6118|    6118|      3210|
+-----------+----------+---------+------+--------------+----------------+-----------+--------+----------+

In [0]:
#Create new df from the given data



student_data=[("John","Math", 90, 80),("Michael", "Science", 70, None), ("David", "History", 50,40), ("Kelvin", "Computer", 40,None ),("Paul", "GEO", None, None), (None,None, None, None)]
schema=["name", "subject", "Marks", "Attendance"]
df1=spark.createDataFrame(student_data,schema)
df1.show()

+-------+--------+-----+----------+
|   name| subject|Marks|Attendance|
+-------+--------+-----+----------+
|   John|    Math|   90|        80|
|Michael| Science|   70|      null|
|  David| History|   50|        40|
| Kelvin|Computer|   40|      null|
|   Paul|     GEO| null|      null|
|   null|    null| null|      null|
+-------+--------+-----+----------+

In [0]:
#Use df from Task (3) and handle null values. Nulls in name column should be replaced with unknown, subject column should be replaced with EVS, Marks should be replaced with 40 and attendance should be replaced with 35. Finally you should get output in this way.

df1.fillna({"subject": "EVS", "Marks": 40,"Attendance":35}) \
    .show()

+-------+--------+-----+----------+
|   name| subject|Marks|Attendance|
+-------+--------+-----+----------+
|   John|    Math|   90|        80|
|Michael| Science|   70|        35|
|  David| History|   50|        40|
| Kelvin|Computer|   40|        35|
|   Paul|     GEO|   40|        35|
|   null|     EVS|   40|        35|
+-------+--------+-----+----------+

In [0]:
#Create a new df from this data
from pyspark.sql import Row
import datetime
users = [
    {
        "id": 1,
        "first_name": "Corrie",
        "last_name": "Van den Oord",
        "email": "cvandenoord0@etsy.com",
        "phone_numbers": Row(mobile="+1 234 567 8901", home="+1 234 567 8911"),
        "courses": [1, 2],
        "is_customer": True,
        "amount_paid": 1000.55,
        "customer_from": datetime.date(2021, 1, 15),
        "last_updated_ts": datetime.datetime(2021, 2, 10, 1, 15, 0)
    },
    {
        "id": 2,
        "first_name": "Nikolaus",
        "last_name": "Brewitt",
        "email": "nbrewitt1@dailymail.co.uk",
        "phone_numbers":  Row(mobile="+1 234 567 8923", home="1 234 567 8934"),
        "courses": [3],
        "is_customer": True,
        "amount_paid": 900.0,
        "customer_from": datetime.date(2021, 2, 14),
        "last_updated_ts": datetime.datetime(2021, 2, 18, 3, 33, 0)
    },
    {
        "id": 3,
        "first_name": "Orelie",
        "last_name": "Penney",
        "email": "openney2@vistaprint.com",
        "phone_numbers": Row(mobile="+1 714 512 9752", home="+1 714 512 6601"),
        "courses": [2, 4],
        "is_customer": True,
        "amount_paid": 850.55,
        "customer_from": datetime.date(2021, 1, 21),
        "last_updated_ts": datetime.datetime(2021, 3, 15, 15, 16, 55)
    },
    {
        "id": 4,
        "first_name": "Ashby",
        "last_name": "Maddocks",
        "email": "amaddocks3@home.pl",
        "phone_numbers": Row(mobile=None, home=None),
        "courses": [],
        "is_customer": False,
        "amount_paid": None,
        "customer_from": None,
        "last_updated_ts": datetime.datetime(2021, 4, 10, 17, 45, 30)
    },
    {
        "id": 5,
        "first_name": "Kurt",
        "last_name": "Rome",
        "email": "krome4@shutterfly.com",
        "phone_numbers": Row(mobile="+1 817 934 7142", home=None),
        "courses": [],
        "is_customer": False,
        "amount_paid": None,
        "customer_from": None,
        "last_updated_ts": datetime.datetime(2021, 4, 2, 0, 55, 18)
    }
]

In [0]:
df2=spark.createDataFrame(users)
df2.show()

+-----------+-------+-------------+--------------------+----------+---+-----------+------------+-------------------+--------------------+
|amount_paid|courses|customer_from|               email|first_name| id|is_customer|   last_name|    last_updated_ts|       phone_numbers|
+-----------+-------+-------------+--------------------+----------+---+-----------+------------+-------------------+--------------------+
|    1000.55| [1, 2]|   2021-01-15|cvandenoord0@etsy...|    Corrie|  1|       true|Van den Oord|2021-02-10 01:15:00|{+1 234 567 8901,...|
|      900.0|    [3]|   2021-02-14|nbrewitt1@dailyma...|  Nikolaus|  2|       true|     Brewitt|2021-02-18 03:33:00|{+1 234 567 8923,...|
|     850.55| [2, 4]|   2021-01-21|openney2@vistapri...|    Orelie|  3|       true|      Penney|2021-03-15 15:16:55|{+1 714 512 9752,...|
|       null|     []|         null|  amaddocks3@home.pl|     Ashby|  4|      false|    Maddocks|2021-04-10 17:45:30|        {null, null}|
|       null|     []|         null|krome4@shutterfly...|      Kurt|  5|      false|        Rome|2021-04-02 00:55:18|{+1 817 934 7142,...|
+-----------+-------+-------------+--------------------+----------+---+-----------+------------+-------------------+--------------------+

In [0]:
#Use df from task 5 and Sort the data in ascending order by customer_from (default)
#output
df2.sort(df2.customer_from.asc_nulls_first()).show(truncate=False)

+-----------+-------+-------------+-------------------------+----------+---+-----------+------------+-------------------+----------------------------------+
|amount_paid|courses|customer_from|email                    |first_name|id |is_customer|last_name   |last_updated_ts    |phone_numbers                     |
+-----------+-------+-------------+-------------------------+----------+---+-----------+------------+-------------------+----------------------------------+
|null       |[]     |null         |krome4@shutterfly.com    |Kurt      |5  |false      |Rome        |2021-04-02 00:55:18|{+1 817 934 7142, null}           |
|null       |[]     |null         |amaddocks3@home.pl       |Ashby     |4  |false      |Maddocks    |2021-04-10 17:45:30|{null, null}                      |
|1000.55    |[1, 2] |2021-01-15   |cvandenoord0@etsy.com    |Corrie    |1  |true       |Van den Oord|2021-02-10 01:15:00|{+1 234 567 8901, +1 234 567 8911}|
|850.55     |[2, 4] |2021-01-21   |openney2@vistaprint.com  |Orelie    |3  |true       |Penney      |2021-03-15 15:16:55|{+1 714 512 9752, +1 714 512 6601}|
|900.0      |[3]    |2021-02-14   |nbrewitt1@dailymail.co.uk|Nikolaus  |2  |true       |Brewitt     |2021-02-18 03:33:00|{+1 234 567 8923, 1 234 567 8934} |
+-----------+-------+-------------+-------------------------+----------+---+-----------+------------+-------------------+----------------------------------+

In [0]:
#Use df from task 5 and Sort the data in ascending order by customer_from with null values coming at the end.
df2.sort(df2.customer_from.asc_nulls_last()).show(truncate=False)

+-----------+-------+-------------+-------------------------+----------+---+-----------+------------+-------------------+----------------------------------+
|amount_paid|courses|customer_from|email                    |first_name|id |is_customer|last_name   |last_updated_ts    |phone_numbers                     |
+-----------+-------+-------------+-------------------------+----------+---+-----------+------------+-------------------+----------------------------------+
|1000.55    |[1, 2] |2021-01-15   |cvandenoord0@etsy.com    |Corrie    |1  |true       |Van den Oord|2021-02-10 01:15:00|{+1 234 567 8901, +1 234 567 8911}|
|850.55     |[2, 4] |2021-01-21   |openney2@vistaprint.com  |Orelie    |3  |true       |Penney      |2021-03-15 15:16:55|{+1 714 512 9752, +1 714 512 6601}|
|900.0      |[3]    |2021-02-14   |nbrewitt1@dailymail.co.uk|Nikolaus  |2  |true       |Brewitt     |2021-02-18 03:33:00|{+1 234 567 8923, 1 234 567 8934} |
|null       |[]     |null         |amaddocks3@home.pl       |Ashby     |4  |false      |Maddocks    |2021-04-10 17:45:30|{null, null}                      |
|null       |[]     |null         |krome4@shutterfly.com    |Kurt      |5  |false      |Rome        |2021-04-02 00:55:18|{+1 817 934 7142, null}           |
+-----------+-------+-------------+-------------------------+----------+---+-----------+------------+-------------------+----------------------------------+